@model hopTropOnlineShop.ViewModels.WishListDetailsViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <table>
        <tr>
            @Model.Basket.IDBasket
        </tr>
        <tr>
            @Model.Cloth.Gender
        </tr>
        <tr>
            @Model.Cloth.TypeOfCloth
        </tr>
        <tr>
            @Model.Cloth.Price
        </tr>
        <tr>
            @Model.Cloth.Currency
        </tr>
    </table>