@{
    ViewData["Title"] = "Shop";
}
<form method="get" action="@Url.Action("Shop")">
    <table>
            <img style="width: 330px; height: 400px;" src="~/images/damskariza1.jpg">
        <tr>
             @Model.Clothes.IDCloth
        </tr>
        <tr>
             @Model.Clothes.Gender
        </tr>
        <tr>
            Вид : @Model.Clothes.TypeOfCloth
        </tr>
        <tr>
            Размер : @Model.Clothes.Size
        </tr>
        <tr>
            Цвят : @Model.Clothes.Color
        </tr>
        <tr>
            Цена : @Model.Clothes.Price
        </tr>
    </table>
    <button type="submit">Добави в кошницата</button>
</form>

